/* NAVBAR CSS */

.logo-navbar {
  float: left;
  margin: 0;
}

#title-navbar {
  float: left;
  color: white;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

.navbar {
  list-style-type: none;
  margin: 0;
  padding: 2%;
  overflow: hidden;
  background-color: #110f09;
}

.navbarelem {
  font-family: "Work Sans", sans-serif;
  font-size: large;
  float: right;
}

.navbarelemlink {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.1s ease-out 100ms;
}

li a:hover {
  background-color: #2D2A23;
}

.navbar-wrapper {
  margin: 0 0;
}


/* TEXT CSS */

h1 {
  animation: fade-up 0.5s;
  color: #f2c983;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 90px;
  margin-bottom: 6%;
  line-height: 0;
}

h2 {
  animation: fade-up 0.5s;
  color: #f2c983;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
}

h3 {
  animation: fade-up 0.5s;
  margin: 0;
  color: #f2c983;
  text-align: center;
  font-family: 'DM Serif Display', serif;
  font-size: 25px;
}

p {
  animation: fade-in 0.5s;
  margin: 0 5%;
  text-align: center;
  color:#F5F5F5;
  font-family: "Work Sans", sans-serif;
  font-size: large;
}


/* Box CSS */

body {
  background-color: #181613;
  margin: 0;
}

.logo {
  display: block;
  margin: auto;
}

hr {
  background-color: #f2c983;
  width: 20%;
  margin: 6% auto;
}

.box-with-header-and-text {
  margin: 4% 4% 4% 4%;
  text-align: center;
}

.navbar {
  margin: 0 0;
}

.offer-list {
  color: #F5F5F5;
  text-align: center;
  list-style-position: inside;
}

.inline-card {
  display: inline-block;
  width: 20%;
  height: inherit;
  margin: 2%;
  padding: 4%;
  background-color: #21201d;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 10px #110f09;
}

.card-wrapper {
  display: block;
  height: 15%;
  width: 95%;
  margin: 0 auto;
}

/* Media Queries */

@media screen and (max-width: 900px) {
  
  /* Display inline cards under each other with small screens.*/
  .inline-card {
    display: block;
    width: 50%;
    height: inherit;
    margin: 5% auto;
    padding: 4%;
    background-color: #21201d;
    border-radius: 5px;
    box-shadow: 0px 5px 10px 10px #110f09;
  }

  /* Turn off the navbar title shorter when screen is small*/

  #title-navbar {
    display: none;
  }
}




/* Animation */

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}